@import url(./common/normalize.css);
@import url(./common/reset.css);
@import url(./common/theme.css);

body {
  background-color: black;
}

/* 모바일  */
@media (min-width: 320px) and (max-width: 767px) {
  /* 스크롤 섹션 0 시작 */
  .scroll-section-0 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 20%
      ),
      url("../assets/landing/tablet_mobile_image/backgorund.png");
    background-repeat: no-repeat;
    background-size: 150%;
    height: 107vw;
    max-height: 25rem;
  }

  .message-wrapper {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

  .message-title {
    color: var(--white);
  }

  .message-subtitle {
    color: var(--gray-400);
  }

  .login-button {
    display: block;
    position: relative;
    margin: 1rem auto 0 auto;
    color: var(--white);
    background-color: var(--brand-red-1);
    border: 0px;
    border-radius: 0.25rem;
    width: 11.75rem;
    height: 2.125rem;
    text-decoration: none;
  }

  .login-button span {
    line-height: 2.125rem;
    margin-left: 2.375rem;
  }

  .login-button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../assets/landing/taing-symbol.svg)
      no-repeat;
    background-size: 1.625rem;
    background-position-x: 0.5rem;
  }

  /* 스크롤 섹션 0 끝 */

  /* 스크롤 섹션 1 시작 */

  .scroll-section-1 .message-wrapper {
    margin-top: 3rem;
    margin-bottom: 1.625rem;
  }

  .movie-thumbnail-slide-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75rem;
    overflow: hidden;
    padding-left: 1.25rem;
  }

  .movie-thumbnail-slide img {
    border-radius: 0.25rem;
  }

  /* 스크롤 섹션 1 끝 */

  /* 스크롤 섹션 2 시작 */

  .scroll-section-2 .message-wrapper {
    margin-top: 3rem;
    margin-bottom: 1.625rem;
  }

  .rolling-banner-thumnail {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75rem;
    overflow: hidden;
    margin-bottom: 0.3125rem;
  }

  .rolling-banner-thumnail img {
    border-radius: 0.25rem;
  }

  /* 스크롤 섹션 2 끝 */

  /* 스크롤 섹션 3 시작 */

  .scroll-section-3 {
    padding: 6.25rem 0;
  }

  .scroll-section-3 .message-wrapper img {
    width: 5.125rem;
    height: 2rem;
    margin-bottom: 0.875rem;
  }

  .scroll-section-3 .message-wrapper .message-title {
    margin-bottom: 0.875rem;
  }

  .scroll-section-3 .login-button {
    margin-top: 1.125rem;
  }

  /* 스크롤 섹션 3 끝 */

  /* footer 시작 */

  footer {
    padding: 3.25rem 1rem 5.125rem 1rem;
  }

  .guide-list a {
    color: var(--gray-200);
    text-decoration: none;
  }

  .guide-list a:hover {
    color: var(--gray-100);
    transition: color;
    transition-duration: 300ms;
    transition-timing-function: ease;
  }

  .guide-list li {
    margin-bottom: 0.25rem;
  }
  .guide-list li:last-child {
    margin-bottom: 0;
  }

  .sns-wrapper {
    margin-top: 1rem;
  }
  .sns-wrapper a {
    text-decoration: none;
    margin-right: 0.5rem;
  }

  .sns-wrapper img:hover {
    filter: brightness(180%);
    transition: filter;
    transition-duration: 200ms;
    transition-timing-function: ease;
  }

  .copyright {
    color: var(--gray-500);
    margin-top: 1rem;
  }

  /* footer 끝 */
}

@media (min-width: 768px) and (max-width: 1919px) {
}

@media (min-width: 1920px) {
}
