@import url(../css/common/normalize.css);
@import url(../css/common/reset.css);
@import url(../css/common/theme.css);

/* --------------------------------- 모든 디바이스 -------------------------------- */
.img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--black);
}
.main {
  box-sizing: border-box;
  text-align: center;
}

.main a {
  color: inherit;
  text-decoration: none;
}

.profile {
  font: var(--text-heading);
  color: var(--white);
  text-align: center;
}

.profile-content {
  font: var(--text-label);
  color: var(--gray-200);
  margin-top: 16px;
}

.profile-image {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 32px 0;
  padding: 0 30px;
  gap: 4px;
}

.profile-image button {
  display: block;
  border: none;
  border-radius: 10px;
  padding: 0px;
  position: relative;
}

.profile-image img {
  filter: brightness(60%);
  width: 100%;
  border-radius: 7px;
}

.lock-icon {
  background: url("../assets/profilePage/icon_lock.svg")
    no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
}

.profile-image span {
  color: var(--gray-300);
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
  display: block;
  margin-top: 12px;
}

.profile-edit-button:hover {
  color: var(--gray-100);
  border-color: var(--gray-100);
}

.profile-edit-button {
  font: var(--text-label);
  color: var(--gray-300);
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--gray-600);
  border-radius: 4px;
}

/* footer 시작 */
footer::before {
  content: "";
  display: block;
  background-color: var(--gray-800);
  width: 100%;
  height: 1px;
}

.guide-list a {
  color: var(--gray-200);
  text-decoration: none;
}

.guide-list a:hover {
  color: var(--gray-100);
  transition: color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.guide-list li {
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
}

.footer-info-list li {
  color: var(--gray-500);
}

.footer-info-list span:not(:first-of-type)::before,
.footer-info-list a:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 1px;
  background-color: var(--gray-800);
}

.sns-wrapper a {
  text-decoration: none;
}

.sns-wrapper img:hover {
  filter: brightness(180%);
  transition: filter;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.copyright {
  display: inline-block;
  color: var(--gray-500);
  font: var(--text-paragraph);
}

/* footer 끝 */

/* -------------------------------- 모바일 디바이스 -------------------------------- */
@media (min-width: 320px) and (max-width: 768px) {
  .main {
    font-size: var(--text-size-m);
    height: fit-content;
    padding-top: 44px;
  }

  .profile {
    font-size: var(--text-size-m);
    padding-top: 28px;
  }

  .profile-content {
    font-size: var(--text-size-s);
    margin-top: 16px;
  }

  .profile-image {
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    align-content: space-between;
    margin: 32px auto;
  }

  .profile-image button {
    width: 30vw;
    height: 30vw;
  }

  .lock-icon {
    transform: translate(-50%, -50%);
  }

  .profile-edit-button {
    font-size: var(--text-size-s);
    width: 42%;
    height: 42px;
  }
  /* footer 시작 */

  footer {
    padding: 3.25rem 1rem 5.125rem 1rem;
  }

  .guide-list {
    margin-top: 0.5rem;
  }

  .guide-list li {
    margin-bottom: 0.25rem;
  }
  .guide-list li:last-child {
    margin-bottom: 0;
  }

  .footer-info-list {
    display: none;
  }

  .sns-wrapper {
    margin-top: 1rem;
  }

  .sns-wrapper a {
    margin-right: 0.5rem;
  }

  .copyright {
    margin-top: 1rem;
    font-size: var(--text-size-s);
  }

  /* footer 끝 */
}

/* -------------------------------- 태블릿 디바이스 -------------------------------- */
@media (min-width: 768px) and (max-width: 1200px) {
  .main {
    height: fit-content;
    padding-top: 74px;
  }

  .profile {
    font-size: var(--text-size-xl);
  }

  .profile-content {
    font-size: var(--text-size-m);
    margin-top: 8px;
  }

  .profile-image {
    height: fit-content;
    flex-flow: row nowrap;
    gap: 32px;
    justify-content: center;
    padding: 28px 0 44px 0;
  }

  .lock-icon {
    transform: translate(-50%, -50%) scale(0.83, 0.83);
  }

  .profile-image button {
    width: 17vw;
    height: 17vw;
  }

  .profile-edit-button {
    font-size: var(--text-size-s);
    width: 20%;
    height: 50px;
  }

  /* footer 시작 */

  footer {
    padding: 4.375rem 2.5rem 6.25rem;
  }

  .guide-list {
    margin-top: 1rem;
  }

  .guide-list li {
    display: inline;
    margin-right: 1.25rem;
  }

  .guide-list li:last-child {
    margin-bottom: 0;
  }

  .footer-info-list {
    margin-top: 0.75rem;
  }

  .footer-info-list a {
    color: var(--gray-500);
  }
  .footer-info-list a:hover {
    color: var(--gray-400);
    transition: color;
    transition-duration: 200ms;
  }

  .footer-info-list li {
    font: var(--text-paragraph);
    font-size: var(--text-size-s);
  }

  .footer-info-list span:not(:first-of-type)::before,
  .footer-info-list a:not(:first-of-type)::before {
    height: 0.625px;
    margin: 0 4px 0 2px;
  }

  .sns-wrapper {
    margin-top: 0.75rem;
  }

  .sns-wrapper a {
    margin-right: 0.5rem;
  }

  .sns-wrapper img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .copyright {
    margin-top: 0.75rem;
    font: var(--text-paragraph);
    font-size: var(--text-size-s);
  }

  /* footer 끝 */
}

/* -------------------------------- 데스크탑 디바이스 ------------------------------- */
@media (min-width: 1200px) {
  .main {
    height: 888px;
    padding-top: 130px;
  }

  .profile {
    font-size: var(--text-size-xxxl);
  }

  .profile-content {
    font-size: var(--text-size-xl);
    margin-top: 20px;
  }

  .profile-image {
    display: flex;
    flex-flow: row nowrap;
    gap: 52px;
    justify-content: center;
    margin: auto;
    padding: 44px 0 66px 0;
  }

  .profile-image button {
    width: 12vw;
    height: 12vw;
  }

  .lock-icon {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
  }

  .profile-image span {
    font-size: var(--text-size-xl);
    margin-top: 16px;
  }

  .profile-edit-button {
    font-size: var(--text-size-xl);
    width: 272px;
    height: 86px;
  }
  /* footer 시작 */

  footer {
    padding: 8.75rem 4.25rem 10.625rem;
  }

  .guide-list {
    margin-top: 1.75rem;
  }

  .guide-list li {
    display: inline;
    margin-right: 2.25rem;
    font-size: var(--text-size-l);
  }

  .guide-list li:last-child {
    margin-bottom: 0;
  }

  .footer-info-list {
    margin-top: 1.5rem;
  }

  .footer-info-list a {
    color: var(--gray-500);
  }
  .footer-info-list a:hover {
    color: var(--gray-400);
    transition: color;
    transition-duration: 200ms;
  }

  .footer-info-list li {
    font-size: var(--text-size-l);
  }

  .footer-info-list span:not(:first-of-type)::before,
  .footer-info-list a:not(:first-of-type)::before {
    height: 1rem;
    margin: 0 8px 0 6px;
  }

  .sns-wrapper {
    margin-top: 1.5rem;
  }

  .sns-wrapper a {
    margin-right: 1.25rem;
  }

  .sns-wrapper img {
    width: 3.25rem;
    height: 3.25rem;
  }

  .copyright {
    margin-top: 1.5rem;
    font-size: var(--text-size-l);
  }

  /* footer 끝 */
}
