@import url(../css/common/normalize.css);
@import url(../css/common/reset.css);
@import url(../css/common/theme.css);

/* --------------------------------- 모든 디바이스 -------------------------------- */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.search-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  /* display: none; */
}

.search {
  background-color: var(--brand-dark-bg-1);
  box-sizing: border-box;
}

.search a {
  color: inherit;
  text-decoration: none;
}

.search-box {
  font: var(--text-label);
}

.search-box input {
  border: none;
  background: transparent;
  width: 100%;
  border-bottom: 3px solid var(--white);
  color: var(--white);
}

.search-box input {
  outline: none;
}

.search-box input::placeholder {
  color: var(--gray-400);
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.search-button {
  border: none;
  text-indent: -9999px;
  background: url("../assets/searchBox/icon_search.svg")
    no-repeat;
  width: 22px;
  height: 23px;
  position: absolute;
}

.latest-word-title {
  color: var(--gray-200);
  font: var(--text-label);
  margin-bottom: 20px;
}

.latest-word-list a {
  color: var(--gray-300);
  font: var(--text-label);
  background: transparent;
  border: none;
}

.latest-word-list button {
  background: transparent;
  border: none;
  background: url("../assets/searchBox/icon_x-button.svg");
  width: 15px;
  height: 15px;
  margin-left: 20px;
  position: absolute;
}

.popular-word-title {
  font: var(--text-label);
  color: var(--gray-200);
  margin-bottom: 20px;
}

.popular-word-list li a::before {
  content: counter(num);
  color: var(--brand-red-1);
  display: inline-block;
  width: 18px;
}

.popular-word-list li {
  color: var(--gray-300);
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
  counter-increment: num;
  margin-top: 9px;
}

.popular-word-list {
  list-style: none;
}

.popular-word p {
  color: var(--gray-500);
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
  margin-top: 16px;
}

.latest-word-title button {
  display: none;
}

.latest-word p {
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
  color: var(--gray-200);
}

/* -------------------------------- 모바일 디바이스 -------------------------------- */
@media (min-width: 320px) and (max-width: 767px) {
  .search {
    padding: 20px 47px 20px 47px;
    height: 461px;
  }

  .search-box {
    width: 100%;
    height: 41px;
    margin: 0 0 40px 0;
    position: relative;
  }

  .search-box input {
    height: 41px;
    font: var(--text-label);
    font-size: var(--text-size-m);
  }

  .search-button {
    top: 10px;
    right: 0px;
  }

  .search-word {
    height: 340px;
  }

  .latest-word {
    display: none;
  }

  .popular-word {
    height: 340px;
    width: fit-content;
    margin: 0 47px 20px 9px;
  }

  .popular-word-list li {
    line-height: 1.4;
  }
}

/* -------------------------------- 태블릿 디바이스 -------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
  .search {
    padding: 28px 122px 52px 122px;
    height: 535px;
  }

  .search-box {
    position: relative;
    height: 56px;
    margin-top: 0px;
    margin-bottom: 48px;
  }

  .search-box input {
    height: 56px;
  }

  .search-box input::placeholder {
    content: "TV프로그램, 영화 제목 및 출연진으로 검색해보세요";
  }

  .search-button {
    transform: scale(121%, 121%);
    top: 20px;
    right: 0px;
  }

  .search-word {
    width: 100%;
    height: 351px;
    /* display: flex; */
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 48px;
  }

  .search-box {
    color: var(--gray-700);
    font: var(--text-label);
    font-size: var(--text-size-l);
  }

  .latest-word {
    display: block;
    order: 1;
    width: 50%;
    float: left;
  }

  .latest-word-title {
    font-size: var(--text-size-m);
  }

  .latest-word-title button {
    color: var(--gray-400);
    font: var(--text-label);
    font-size: var(--text-size-s);
    background: transparent;
    border: none;
    position: relative;
    padding-left: 20px;
  }

  .latest-word-title button::after {
    content: url(../assets/searchBox/icon_x-circle.svg);
    margin-left: 12px;
    position: absolute;
    top: 3px;
  }

  .latest-word-list li {
    position: relative;
    line-height: 1.8;
  }

  .latest-word-list a {
    font-size: var(--text-size-s);
  }

  .latest-word-list button {
    transform: scale(80%, 80%);
    top: 8px;
  }

  .popular-word {
    order: 3;
    float: left;
    width: 42%;
    height: 351px;
    margin: 0;
    border-left: 1px solid var(--gray-800);
    padding-left: 35px;
  }

  .popular-word-title {
    font: var(--text-label);
    font-size: var(--text-size-m);
    color: var(--gray-200);
  }

  .popular-word-list li::before {
    color: var(--brand-red-1);
    margin-right: 34px;
  }

  .popular-word-list li {
    color: var(--gray-300);
    font: var(--text-paragraph);
    font-size: var(--text-size-s);
    margin-top: 9px;
  }

  .popular-word-list {
    list-style: none;
  }

  .popular-word p {
    color: var(--gray-500);
    font: var(--text-paragraph);
    font-size: var(--text-size-s);
    margin-top: 16px;
  }
}

/* -------------------------------- 데스크탑 디바이스 ------------------------------- */
@media (min-width: 1200px) {
  .search {
    padding: 52px 220px 93px 220px;
    height: 945px;
  }

  .search-box {
    position: relative;
    height: 89px;
    margin-top: 0px;
    margin-bottom: 48px;
  }

  .search-box input {
    height: 89px;
  }

  .search-box input::placeholder {
    font: var(--text-label);
    font-size: var(--text-size-xxl);
  }

  .search-button {
    transform: scale(227%, 227%);
    top: 30px;
    right: 10px;
  }

  .search-word {
    height: 351px;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 98px;
  }

  .search-box {
    font-size: var(--text-size-l);
  }

  .latest-word {
    display: block;
    order: 1;
    width: 50%;
    float: left;
  }

  .latest-word-title {
    font: var(--text-heading);
    font-size: var(--text-size-xl);
  }

  .latest-word-title button {
    color: var(--gray-400);
    font: var(--text-label);
    font-size: var(--text-size-l);
    background: transparent;
    border: none;
    position: relative;
    padding-left: 20px;
  }

  .latest-word-title button::after {
    content: url(../assets/searchBox/icon_x-circle.svg);
    margin-left: 12px;
    position: absolute;
    top: 0px;
    transform: scale(140%, 140%);
  }

  .latest-word-list li {
    position: relative;
    line-height: 3;
  }

  .latest-word p {
    font-size: var(--text-size-l);
  }

  .latest-word-list a {
    font-size: var(--text-size-l);
  }

  .latest-word-list button {
    background: transparent;
    border: none;
    background: url("../assets/searchBox/icon_x-button.svg");
    width: 15px;
    height: 15px;
    transform: scale(100%, 100%);
    margin-left: 20px;
    position: absolute;
    top: 15px;
  }

  .popular-word {
    order: 3;
    float: left;
    width: 42%;
    height: 351px;
    margin: 0;
    border-left: 1px solid var(--gray-800);
    padding-left: 60px;
  }

  .popular-word-title {
    font-size: var(--text-size-xl);
  }

  .popular-word-list li a::before {
    margin-right: 25px;
  }

  .popular-word-list li {
    font-size: var(--text-size-l);
    line-height: 1.8;
  }

  .popular-word p {
    font-size: var(--text-size-l);
    margin-top: 16px;
  }
}
